<style>
.error {color:red;
				font-size:200%;}
</style>
<div class="container">
	<h2>{{message}}</h2>
	<form name="currencyForm">
	<input type="number" name="firstInput" ng-model="input"  size="30"
					 placeholder="enter value here">
	<select ng-model="firstSelect"
					ng-options="option.name for option in options"
					ng-change="change(firstSelect.value)">
	</select>
	to
	<select ng-model="secondSelect"
					ng-options="option.name for option in options2">
	</select>
	<input type="button" ng-click="convert()" value="convert" ng-disabled="input == null">
	</form>
	<div role="alert">
	<span class="error" ng-show="currencyForm.firstInput.$error.number">
		Not valid number!</span>
</div>
	<div> {{inputvalue | currency:currencyone_unit}} {{first_unit}} {{is_unit}} {{output | currency:currencytwo_unit}} {{second_unit}}</div>
	<a href="#!/home"> Back</a>
</div>
